<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.huahua.weread"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 判断是否联网需要这个权限  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 危险权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarDrawer"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityWebView"
            android:theme="@style/AppTheme.NoActionBar"
            android:process="com.wewead.activitywebview"
            />

        <activity
            android:name=".mvp.zhihu.ZhiHuArticleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:process="com.wewead.ZhiHuArticleActivity"
            />

        <activity
            android:name=".mvp.gankio.fuliGallery.ActivityImageView"
            android:theme="@style/AppTheme.NoActionBar.blackstatusBar"
            />

        <service android:name=".service.UpdateService"/>
    </application>

</manifest>